[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
mysql-connector-python-rf = "*"

[dev-packages]
rope = "*"
pytest = "*"

[requires]
python_version = "3"
